name: Lint

on: [push, pull_request]

jobs:
  run-hooks:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - name: Install Python dependencies
        run: |
          pip install "importlib-metadata<5"
          pip install pre-commit

      - name: Run pre-commit hooks
        run: pre-commit run --all-files
